*{
    padding: 0vw;
    margin: .5vw;
}
.navbar{
    border: .1vw solid black;
    border-radius: .3vw;
    background-color: rgb(34, 25, 7);
}

.BiggerBox{
    padding: .2pvw;
    border: .1vw solid black;
    border-radius: .5vw;
    background-color: antiquewhite;
}

.BigBox{
    display: inline-block;
    border: .1vw solid black;
    border-radius: .3vw;
    background-color: white;
    width: 52.5vw;
    height: 90vh;
}

.box_one{
    background-color: rgb(34, 25, 7);
    border-radius: .5vw;
    float: left;
    display: inline-block;
    padding: .4vw;
    height: 60vh;
    width: 19vw;
    border: .1vw solid black;
}

.text2{
    font-family: 'Kanit', sans-serif;
}

.box_two{
    background-color: rgb(34, 25, 7);
    border-radius: .5vw;
    float:right;
    display: inline-block;
    padding: .4vw;
    height: 60vh;
    width: 19vw;
    border: .1vw solid black;
}

.para p{
    font-size: 1.15vw;
}

.para1 p{
    font-size: 1.15vw;
}

.links2{
    text-size-adjust: .5vw;
    margin: 2vw;
    padding: 1vw;
    font-size: large;
    font-family: 'Kanit', sans-serif;
    width: 8vw;
    border: .1vw solid black;
    border-radius: .5vw;
    text-transform: uppercase;
    transition: 0.6s;
}

.pic1 img{
    width: 49vw;
    height: 50vh;
}

.pic2 img{
    width: 16.4vw;
}

.links2:hover{
    font-size: larger;
    transition: 0.4s;
}

.links2 a{
    font-size: 1.15vw;
    text-decoration: none;
}

.links{
    font-family: 'Kanit', sans-serif;
    border: .1vw solid black;
    border-radius: .5vw;
    display: inline;
    text-transform: uppercase;
    transition: 0.4s;

}

.links a{
    font-size: 1.15vw;
    text-decoration: none;
}

.links:hover{
    font-size: larger;
    transition: 0.4s;
}

#grouplink{
    text-align: right;
}

#grouplink2{
    text-align: left;
}

#fb{
    background-color: blue;
}
#fb a{
    color: white;
}
#yt{
    background-color: red;
}
#yt a{
    color: white;
}
#tt{
    background-color: black;
}
#tt a{
    color: white;
}
#x{
    background-color: aqua;
}
#x a{
    color: white;
}

#fb1{
    background-color: blue;
}
#fb1 a{
    color: white;
}
#yt1{
    background-color: red;
}
#yt1 a{
    color: white;
}
#tt1{
    background-color: black;
}
#tt1 a{
    color: white;
}
#x1{
    background-color: aqua;
}
#x1 a{
    color: white;
}

.texts{
    display: inline;
}

.texts1{
    display: inline;
}

#grouptext{
    text-align: center;
}